/*
* @Author: midoDaddy
* @Date:   2017-06-15 15:24:37
* @Last Modified by:   midoDaddy
* @Last Modified time: 2017-06-21 09:49:07
*/
.nav {
    background: #eee;
    height: 30px;
    line-height: 30px;
}
.nav .user-info {
    float: left;
}
.nav .user-info .link {
    margin-right: 5px;
}
.nav .user.login {
    display: none;
}
.nav .nav-list {
    float: right;
}
.nav .nav-item {
    display: inline-block;
    margin-left: 5px;
}

