<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <%= require('html-loader!./layout/header-common.html') %>
    <title><%= htmlWebpackPlugin.options.title %> - Midodo电商平台</title>
</head>
    
<body>
    <%= require('html-loader!./layout/nav.html') %>
    <%= require('html-loader!./layout/header.html') %>
    <div class="page-wrapper w">
    	<%= require('html-loader!./layout/nav-side.html') %>
    	<div class="content with-nav">
    		test
    	</div>
    </div>
    <%= require('html-loader!./layout/footer-common.html') %>
</body>
</html>