/*
* @Author: Administrator
* @Date:   2017-06-18 11:09:48
* @Last Modified by:   midoDaddy
* @Last Modified time: 2017-06-21 15:54:33
*/
.footer {
	padding: 10px;
}
.footer .links, .footer .copyright {
	text-align: center;
	color: #666;
	line-height: 30px;
}
.footer .links .link {
	padding: 0 10px;
}