<div class="footer">
	<div class="w">
		<div class="links">
			<a href="http://www.taobao.com" class="link" target="_blank">淘宝</a> |
			<a href="http://www.tmall.com" class="link" target="_blank">天猫</a> |
			<a href="http://www.jd.com" class="link" target="_blank">京东</a> |
			<a href="http://www.mi.com" class="link" target="_blank">小米</a>
		</div>
		<p class="copyright">
			Copyright © 2017 midodomall.com All Right Reserved
		</p>
	</div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>